* {
    margin: 0;
    padding: 0;
}

.header-container {
    border: 2px solid black;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    border: 2px solid black;
}

.main-container {
    border: 2px solid black;
    height: 90vh;
    width: 100vw;
    display: flex;
}

.sidebar-container {
    border: 2px solid black;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.side-header {
    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.add-task, .add-project {
    display: inline-block;
    margin: 10% 5% 10% 10%;
}

.add-task-button, .add-project-button {
    width: 150px; /* Pixels in this case to preserve width regardless of viewport resizing */
    /* overflow-wrap: break-word; /* Assuming you use % for width, this will prevent overflow but it looks weird if you resize the width to a small size */
}

.sidebar-list {
    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-wrap: break-word; /* prevent overflow to other divs if text is long, can set to 'anywhere' as well, has different behavior in certain cases */
}

.list-project-button {
    border: 2px solid black;
    margin: 0.5rem 0;
    width: 75%;
}

#new-task-dialog, #new-project-dialog { /* Since I removed all margin and padding at top (css reset) */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
}

#task-form, #project-form {
    display: flex;
    flex-direction: column;
}

#task-form > div:not(:last-child) {
    margin: 5px;
    display: flex;
    flex-direction: column; /* Default is row, hence main axis is horizontal, cross axis is vertical, but if set to column, it switches, hence I use align-items */
    align-items: center;
    gap: 5px;
}

.form-container-one {

}

.form-container-two  {

}

.submit-or-cancel {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.to-do-list-container {
    border: 2px solid black;
    width: 75%;
}